Source: bedtools
Maintainer: Debian Med Packaging Team <debian-med-packaging@lists.alioth.debian.org>
Uploaders: Charles Plessy <plessy@debian.org>,
           Andreas Tille <tille@debian.org>
Section: science
Testsuite: autopkgtest
Priority: optional
Build-Depends: debhelper (>= 9),
               python,
               zlib1g-dev,
               samtools
Standards-Version: 3.9.5
Vcs-Browser: https://anonscm.debian.org/cgit/debian-med/bedtools.git
Vcs-Git: git://anonscm.debian.org/debian-med/bedtools.git
Homepage: http://code.google.com/p/bedtools/

Package: bedtools
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends}
Suggests: filo
Description: suite of utilities for comparing genomic features
 The BEDTools utilities allow one to address common genomics tasks such as
 finding feature overlaps and computing coverage. The utilities are largely
 based on four widely-used file formats: BED, GFF/GTF, VCF, and SAM/BAM. Using
 BEDTools, one can develop sophisticated pipelines that answer complicated
 research questions by streaming several BEDTools together.
 .
 The groupBy utility is distributed in the filo package.

Package: bedtools-test
Architecture: all
Depends: ${misc:Depends}
Suggests: bedtools
Breaks: bedtools (<< 2.19.1-1)
Replaces: bedtools (<< 2.19.1-1)
Description: test data for the bedtools package
 Test data for the BEDTools suite of utilities for comparing genomic features.
 It is distributed in a separate package because it is large and
 architecture-independent.
